//= require vendor/casper
//= require _syntax
//= require _charts

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.post-content {
  margin-top: 50px;
}

